@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Mitr:wght@200;300&family=Noto+Serif+Georgian:wght@400;500;600;700;800&display=swap');

:root {
  --primary-color: #0d1770b0;
  --secondary-color: #6a7baf;
  --background-color: #938cae31;
  --font-heading: 'Noto Serif Georgian', serif;
  --font-default: 'Farro', sans-serif;
}



body {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 300;

}

.intro {
  padding-top: 260px;
  padding-bottom: 150px;
  background: var(--background-color);
  margin-bottom: 150px;

}

.work-project-headings {
  font-family: var(--font-heading);
  color: #000;
  font-size: 28px;
  margin-top: 2em;
}

.body-pages {
  margin-top: 100px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1.5;

}

h2 {
  font-size: 22px;
  font-weight: 400;
  font-family: var(--font-default);
  color: rgb(62, 62, 62, 0.855);

}

.featured,
h4,
h1 {
  font-family: var(--font-heading);

}

.featured {
  font-size: 42px;
}

h4 {
  font-size: 30px;
}

.navbar-brand {
  font-family: var(--font-default);
}

.navbar {
  background: #fff;
  box-shadow: 0 4px 6px -6px var(--secondary-color);
}

.nav-link {
  text-transform: uppercase;

}

.img-wrapper {
  margin-top: -150px;
}
.page-bottom {
  margin-bottom: 150px !important;
}

.active {
  color: var(--primary-color) !important;
  font-weight: 600;
  font-size: 110%;
}

.btn-branding {
  padding: 12px 22px;
  border-radius: 10px;
  background: var(--primary-color);
  text-decoration: none;
  color: #fff;
  border: 1px solid var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 100px;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  background: #fff;
  color: var(--primary-color);

}

.btn-branding-alt {
  padding: 12px 22px;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 100px;
  transition: all 150ms ease-in-out;
}

.btn-branding-alt:hover {
  background: var(--primary-color);
  color: #fff;

}

.links-in-paragraph {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;

}

.links-in-paragraph:hover {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: 600;
}

.contact-link {
  font-size: 20px;
}

.down-icon {
  color: var(--primary-color);
  margin-top: 185px;
  font-size: 35px;
  text-align: center;
  display: block;

}

.down-icon:hover {
  color: rgb(62, 62, 62);
}


.project-paragraph {
  line-height: 2;
  font-size: 18px;
  color: rgba(62, 62, 62, 0.855);
  text-align: center;

}

.h1-supplement-page {
  font-size: 45px;
}

.about-kendra-img {
  max-width: 100%;
  display: inline;
  margin: 0 auto;
}

.main-row-about {
  align-items: center;
}


.section-paragraphs {
  line-height: 1.75;
  font-size: 18px;
  color: rgba(62, 62, 62, 0.855);
  text-align: left;
  padding: 20px;

}

.contact-paragraph {
  line-height: 1.4;
  text-align: center;
  padding: 2px;
}


.about-intro {
  color: #000 !important;
}


.project-links {
  display: flex;
  justify-content: space-evenly;
}


.sup-heading {
  margin-top: 150px !important;

}

.colored-text {
  color: var(--primary-color);
  font-size: 18px;
}

footer {
  background: var(--background-color);
  padding-top: 50px;
}
.social-links {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
    
  
}

footer ul {
padding: 0;
margin: 0;
text-decoration: none;
align-items: center;

}

footer li {
  display: flex;
  text-decoration: none;
  width: 60px;
  height: 30px;
  align-items: center;
  margin: 5px;
  height: 65px !important;
  width: 65px !important;
}

 .social-links a {
  padding: 3px 12px;
  font-size: 40px;
  align-items: center;
  background: var(--background-color);
  color: var(--primary-color);
  border: .5px solid var(--primary-color);
  border-radius: 10%;
  height: 65px !important;
  width: 65px !important;
  transition: all 150ms ease-in-out;
}

.social-links a:hover{
  color: #fff;
  background: var(--primary-color);
}

footer p {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 40px;
}

.project-image {
  max-width: 100%;
  height: auto;
  background: var(--background-color);
  padding: 60px 10px 40px 10px;
  border-radius: 30px;
  margin-bottom: 5px;

}

.project-image-work {
  max-width: 90%;
  height: auto;
  margin: auto;
  border-radius: 30px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;

}

.row-odd {
  background: #fff;

}

.row-even {
  background: var(--background-color);
}

.project-heading {
  position: relative;
  top: 55px;

}




@media (max-width: 1197px) {


  .git-link {
    margin-bottom: 40px;
  }

  .h1-supplement-page {
    font-size: 40px;
  }

  .project-links {
    margin-top: 50px !important;
  }

}

@media (max-width: 700px) {
  h1 {
    font-size: 55px;
    line-height: 1.25;
  }


  h2 {
    font-size: 20px;
  }


  .about-intro {
    padding-bottom: 0;
  }

  .work-project-headings {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    font-size: 28px;
  }

  .main-row-about {
    margin-top: -30px !important;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 48px;
    line-height: 1.25;
  }

  h2 {
    font-size: 18px;
    padding: 15px;
    line-height: 1.25;
  }

  .featured {
    font-size: 35px;
  }


  .h1-supplement-page {
    font-size: 32px;
  }

  .container {
    padding: 30px;
  }

  .project-heading {
    top: 40px;
    font-size: 25px;
  }

  .project-links {
    display: block;
    margin: auto;
    text-align: center;
  }



  .git-link {
    position: relative;
    top: 30px;


  }

}